h1{
    color: #fff;
    text-align: left;
    font-family: Volkhov;
    font-size: 31.622px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    padding: 66px 194px;
}


